@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash);

/* Vars */

/* $red: #ed0000;
$red-light: #f77373;
$yellow: #e7c400;
$yellow-light: #fbeea3; */


/* Animations */

@keyframes hover {
  0% {
    transform: translate3d(0, 0, 0);
    color: #b81313;
  }
  50% {
    transform: translate3d(0, -.2em, 0);
    color: #db3e3e;
  }
  100% {
    transform: translate3d(0, 0, 0);
    color: #b81313;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px .3em rgba(255,255,255,.8);
  }
  50% {
    box-shadow: 0px 0px .3em rgba(255,255,255,.4);
  }
  100% {
    box-shadow: 0px 0px .3em rgba(255,255,255,.8);
  }
}


/* Styles */

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 200%; 
  padding: 2em;
  background: linear-gradient(#c9e1e0, #fff) no-repeat;
}

.message {
  margin-bottom: .5em;
  color: #b81313;
  font-family: 'Berkshire Swash', cursive;
  font-weight: normal;
  text-align: center;
  text-shadow: 0 .05em .1em #fff;
  animation-name: hover;
  animation-iteration-count: infinite;
  animation-duration: 3.5s;
}

.tree {
  position: relative;
  margin: 0 auto;
  width: 8em;
}

.branch1 {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 2.3em solid transparent;
  border-right: 2.3em solid transparent;
  border-bottom: 3em solid #16850c;
  
  &:nth-child(2) {
    margin-top: -1.3em;
    border-left-width: 3em;
    border-right-width: 3em;
    border-bottom-width: 4em;
  }
  
  &:nth-child(3) {
    margin-top: -1.7em;
    border-left-width: 4em;
    border-right-width: 4em;
    border-bottom-width: 5em;
  }
}

.trumk {
  margin: 0 auto;
  width: 1.3em;
  height: 1.3em;
  background: #8c370f;
  background: linear-gradient(#8c370f, #5c240a);
}

.ornate {
  position: absolute;
  width: .6em;
  height: .6em;
  border-radius: 50%;
  box-shadow: 0px 0px .3em rgba(255,255,255,.8);
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 0px .3em rgba(255,255,255,.8);
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
  }
}

.circleOrnament1 {
  top: 1.2em;
  left: 3.2em;
  background: $red;
  background: radial-gradient(circle, $red-light, $red);
  
  &:before {
    top: 2.4em;
    left: 1.5em;
    width: .6em;
    height: .6em;
    background: $red;
    background: radial-gradient(circle, $red-light, $red);
  }
  
  &:after {
    top: .7em;
    left: 1em;
    width: .8em;
    height: .8em;
    background: $yellow;
    background: radial-gradient(circle, $yellow-light, $yellow);
  }
}

.circleOrnament2 {
  top: 3.4em;
  left: 2.9em;
  background: $yellow;
  background: radial-gradient(circle, $yellow-light, $yellow);
  
  &:before {
    top: 2.4em;
    left: 1.5em;
    width: .6em;
    height: .6em;
    background: $yellow;
    background: radial-gradient(circle, $yellow-light, $yellow);
  }
  
  &:after {
    top: 1.2em;
    left: .5em;
    width: .8em;
    height: .8em;
    background: $red;
    background: radial-gradient(circle, $red-light, $red);
  }
}

.circleOrnament3 {
  top: 6.4em;
  left: 2.2em;
  background: $yellow;
  background: radial-gradient(circle, $yellow-light, $yellow);
  
  &:before {
    top: 1.4em;
    left: 3.5em;
    width: .6em;
    height: .6em;
    background: $yellow;
    background: radial-gradient(circle, $yellow-light, $yellow);
  }
  
  &:after {
    top: .9em;
    left: 1.4em;
    width: .8em;
    height: .8em;
    background: $red;
    background: radial-gradient(circle, $red-light, $red);
  }
}

.circleOrnament4 {
  top: 7.9em;
  left: 1.7em;
  background: $red;
  background: radial-gradient(circle, $red-light, $red);
}
.circleOrnament5 {
    top: 2.9em;
    left: 1.7em;
    background: $red;
    background: radial-gradient(circle, $red-light, $red);
  }
  .circleOrnament6 {
    top: 3.9em;
    left: 1.7em;
    background: $red;
    background: radial-gradient(circle, $red-light, $red);
  }